.x-form-fieldset .x-button {
	margin: 0px;
	background: white none;
	border-bottom: 1px solid lightgrey;
	border-radius: 0;
}

.x-form-fieldset .x-button.x-button-pressed {
	background-color: #06346A;
	background-image: -webkit-gradient(
		linear, 50% 0%, 50% 100%,
		color-stop(0.00, #167BF3),
		color-stop(0.02, #07448C),
		color-stop(1.00, #042348));
	border-bottom-color: #021022;
	border-top-color: #084B9B;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.496094) 0px -0.08em 0px;
}

.x-form-fieldset .x-button:after {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0px;
	right: 0px;
	margin: 10px;
	content: "";
	background-color: #07448C;
	-webkit-mask-image: url("../images/disclosure.png");
}

.x-form-fieldset .x-button:first-child {
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
}

.x-form-fieldset .x-button:last-child {
	border-bottom-width: 0px;
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
}

.x-form-fieldset .x-button .x-button-label {
	text-align: left;
	font-size: 0.75em;
}

.x-image-component {
	background-color: #c03;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%; 
	width: 100%; 
	height: 100%;
}

.x-tabbar .x-panel-body {
	padding: 0;
	background: transparent;
}
